html {
    scroll-behavior: smooth;
    -ms-overflow-style: -ms-autohiding-scrollbar; // hide scrollbar on IE
    scrollbar-width: none; // disable scrollbar on mf
}

// hide scrollbar on chrome
::-webkit-scrollbar {
    display: none;
}