html {
  overflow: hidden;
}

* {
  font-family: 'Josefin Sans', sans-serif;
}

body {
  margin: 0;
  padding: 10px;
}

body {
  overflow: hidden;
}

input {
  font-size: inherit;
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 50px;
  outline: none;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  color: #000;
}

.btnContrast {
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 50px;
  outline: none;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  color: #000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

.btnPurple {
  text-decoration: none;
  background-color: #fff;
  outline: none;
  cursor: pointer;
  padding: 10px;
  border: 2px solid #fff;
  color: #000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 50px;
  text-align: center;
}

.btnViolet {
  text-decoration: none;
  background-color: #fff;
  outline: none;
  cursor: pointer;
  padding: 10px;
  border: 2px solid #fff;
  color: #000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 50px;
  text-align: center;
}

.btnGreen {
  text-decoration: none;
  background-color: #fff;
  outline: none;
  cursor: pointer;
  padding: 10px;
  border: 2px solid #fff;
  color: #000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 50px;
  text-align: center;
}

.btnPurple:hover,
.btnPurple:active {
  color: #fff;
  background: #5d58f6;
}

.btnViolet:hover,
.btnViolet:active {
  color: #fff;
  background: #fe7f7f;
}

.btnGreen:hover,
.btnGreen:active {
  color: #fff;
  background: #1DB954;
}

.no-transition {
  -webkit-transition: none !important;
  transition: none !important;
}

.stackedcards-overflow {
  overflow-y: hidden !important;
}

.stackedcards.init {
  opacity: 0;
  /* set the opacity to 0 if you want a fade-in effect to stacked cards on page load */
}

.stackedcards {
  position: relative;
}

.stackedcards * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.stackedcards--animatable {
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.stackedcards .stackedcards-container > *,
.stackedcards-overlay {
  position: absolute;
  width: 100%;
  /* set 100% */
  height: 500px;
  /* set 100% */
  will-change: transform, opacity;
  top: 0;
  border-radius: 10px;
}

.stackedcards-overlay.left > div,
.stackedcards-overlay.right > div,
.stackedcards-overlay.top > div {
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.stackedcards-overlay.left,
.stackedcards-overlay.right,
.stackedcards-overlay.top {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  left: 0;
  opacity: 0;
  top: 0;
  height: 100%;
  font-size: 24px;
  /* this style was added only for better preview */
  text-transform: uppercase;
  /* this style was added only for better preview */
  font-weight: 500;
  /* this style was added only for better preview */
  color: #fff;
  /* this style was added only for better preview */
}

.stackedcards-overlay.top {
  background: #E38568;
}

.stackedcards-overlay.right {
  background: #7BB3C5;
}

.stackedcards-overlay.left {
  background: #E58D93;
}

.stackedcards-overlay.left:empty,
.stackedcards-overlay.right:empty,
.stackedcards-overlay.top:empty {
  display: none !important;
}

.stackedcards-overlay-hidden {
  display: none;
}

.stackedcards-origin-bottom {
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
}

.stackedcards-origin-top {
  -webkit-transform-origin: top;
  transform-origin: top;
}

.stackedcards-bottom,
.stackedcards-top,
.stackedcards-none {
  background: #fff;
  /* set card background background */
  height: 100%;
}

.stackedcards .stackedcards-container > :nth-child(1) {
  position: relative;
  display: block;
}

/* global actions buttons*/
.global-actions {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  margin-top: 10px;
}

.top-action,
.right-action,
.left-action {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
}

.top-action {
  background: #E38568;
  margin: 0 10px;
}

.right-action {
  background: #7BB3C5;
}

.left-action {
  background: #E58D93;
}

/* elements on stacked cards */
.card-item {
  background: #FFFFFF;
}

.navbar {
  position: absolute;
  -webkit-box-shadow: 2px 2px 30px #000;
          box-shadow: 2px 2px 30px #000;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  bottom: 0;
  left: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  height: 75px;
  width: 100%;
  font-size: 2em;
  border-radius: 25px 25px 0px 0px;
  z-index: 99;
  -webkit-transition: opacity 2s ease-in;
  transition: opacity 2s ease-in;
}
/*# sourceMappingURL=style-basic.css.map */