body {
  background: -webkit-gradient(linear, left top, left bottom, from(#5d58f6), to(#fe7f7f));
  background: linear-gradient(180deg, #5d58f6, #fe7f7f);
  background-size: 400% 400%;
  -webkit-animation: grad 14s ease infinite;
  animation: grad 14s ease infinite;
}

@-webkit-keyframes grad {
  0% {
    background-position: 90% 0%;
  }
  50% {
    background-position: 11% 100%;
  }
  100% {
    background-position: 90% 0%;
  }
}

@keyframes grad {
  0% {
    background-position: 90% 0%;
  }
  50% {
    background-position: 11% 100%;
  }
  100% {
    background-position: 90% 0%;
  }
}

@keyframes pulse {
  from {
    -webkit-box-shadow: 0 0 20px #1DB954;
  }
  50% {
    -webkit-box-shadow: none;
  }
  to {
    -webkit-box-shadow: 0 0 20px #1DB954;
  }
}

@-webkit-keyframes pulse {
  from {
    -webkit-box-shadow: 0 0 20px #1DB954;
  }
  50% {
    -webkit-box-shadow: none;
  }
  to {
    -webkit-box-shadow: 0 0 20px #1DB954;
  }
}

html {
  overflow: hidden;
}

* {
  font-family: 'Josefin Sans', sans-serif;
}

body {
  margin: 0;
  padding: 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(#5d58f6), to(#fe7f7f));
  background: linear-gradient(180deg, #5d58f6, #fe7f7f);
  background-size: 400% 400%;
  -webkit-animation: grad 14s ease infinite;
  animation: grad 14s ease infinite;
}

body {
  overflow: hidden;
}

input {
  font-size: inherit;
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 50px;
  outline: none;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  color: #000;
}

#closeButton {
  position: fixed;
  top: 0px;
  right: 10px;
  font-size: 3em;
}

.btnContrast {
  display: inherit;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 50px;
  outline: none;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  color: #000;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.btnPurple {
  display: inherit;
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 50px;
  outline: none;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  color: #000;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.btnViolet {
  display: inherit;
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 50px;
  outline: none;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  color: #000;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.btnGreen {
  display: inherit;
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 50px;
  outline: none;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  color: #000;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  /*
    -webkit-animation-name: pulse;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    */
}

.btnBlue {
  display: inherit;
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 50px;
  outline: none;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  color: #000;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.btnPurple:hover,
.btnPurple:active {
  color: #fff;
  background: #5d58f6;
}

.btnViolet:hover,
.btnViolet:active {
  color: #fff;
  background: #fe7f7f;
}

.btnGreen:hover,
.btnGreen:active {
  color: #fff;
  background-color: #1DB954;
  -webkit-animation: none;
}

.btnBlue:hover,
.btnBlue:active {
  color: #fff;
  background: #3b5998;
}
/*# sourceMappingURL=style-basic.css.map */