body {
    background: linear-gradient(180deg, #5d58f6, #fe7f7f);
    background-size: 400% 400%;

    -webkit-animation: grad 14s ease infinite;
    -moz-animation: grad 14s ease infinite;
    -o-animation: grad 14s ease infinite;
    animation: grad 14s ease infinite;
}

@import "anim";

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'Josefin Sans', sans-serif;
}

.btn {
    text-decoration: none;
    background-color: #fff;
    outline: none;
    cursor: pointer;
    padding: 10px;
    border: 2px solid #fff;
    color: #000;
    transition: all 0.3s;
    border-radius: 50px;
}

.btn:hover,
.btn:active {
    color: #fff;
    background: #1DB954;
    border-color: #1DB954;
}